/* UNIVERSAL */
.overflow {
  position: relative;
  overflow: hidden;
}

.mainComponent {
  width: 80%;
}

.mainComponent h1 {
  font-size: 40px;
  font-family: 'Monoton';
}

/* HEADER */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* HOME PAGE */
.mainComponent.home {
  text-align: center;
}

.opener {
  font-size: 36px;
  font-weight: bold;
}

.preCloser {
margin-left: 250px;
}

.closer {
  text-align: center;
  color: #222;
  font-weight: bold;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
